*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: pink;
}
header {background-color: pink;
font-family: fantasy;
}
header h1{ 
    margin-top: 20px;
    margin-left: 20px;
    width: 10px;
    font-weight: 400;
font-size: 50px;
}
.padre{
    background-color: pink;
  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    justify-content: space-around;



}
.hijos{


    margin: 5px;

    background-color: pink;
    text-align: center;
    font-family: fantasy;
    
}
.hijos h2{
    text-decoration: none;
}


body h3{ font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin-top: 10px;
}
 body p{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    padding-left: 10px;
    padding-top: 10px;}
    body li ul { padding-left: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
.prg{ font-size: 30px;
margin-top: 70px;
color: black;}

.susb{
    margin-top: 50px;

}
body div li ul nav a h5{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px
}

.footer{
    display: flex;
    flex-direction: column;
    text-align: end;
    margin: 50px;
}